<% include _header %>
<div class="cell">
  <div class="hd">
    <h1 class="page_title">欢迎</h1>
    <p class="user_info">
      <img class="user_avatar" src="<%= wechatInfo.headimgurl %>">
      <label class="user_nickname"><%= wechatInfo.nickname %></label>
    </p>
  </div>
  <div class="bd">
    <div class="weui_cells weui_cells_access">
      <% if (currentUser && !currentUser.role) { %>
        <a class="weui_cell" href="apply/teacher">
          <div class="weui_cell_hd">
            <img src="/img/teacher.png" alt="icon" style="width:20px;margin-right:5px;display:block">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p>成为老师</p>
          </div>
          <div class="weui_cell_ft">去申请</div>
        </a>
        <a class="weui_cell" href="javascript:;">
          <div class="weui_cell_hd">
            <img src="/img/student.png" alt="icon" style="width:20px;margin-right:5px;display:block">
          </div>
          <div class="weui_cell_bd weui_cell_primary">
            <p>成为学生</p>
          </div>
          <div class="weui_cell_ft">去申请</div>
        </a>
      <% } %>
      <a class="weui_cell" href="resource">
        <div class="weui_cell_hd">
          <img src="/img/resource.png" alt="icon" style="width:20px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <p>教育资源</p>
        </div>
        <div class="weui_cell_ft">查看</div>
      </a>
      <a class="weui_cell" href="myprofile">
        <div class="weui_cell_hd">
          <img src="/img/user.png" alt="icon" style="width:20px;margin-right:5px;display:block">
        </div>
        <div class="weui_cell_bd weui_cell_primary">
          <p>我的资料</p>
        </div>
        <div class="weui_cell_ft">查看</div>
      </a>
    </div>
  </div>
</div>
<% include _copyright %>
<% include _footer %>
